cv==1.0.0
cycler==0.11.0
docker==4.1.0
docopt==0.6.2
hestia==0.6.0
idna==3.4
joblib==1.2.0
MarkupSafe==2.0.1
matplotlib==3.6.2
nibabel==4.0.2
numpy==1.24.0
opencv-python==4.6.0.66
pathlib==1.0.1
polyaxon-cli==0.6.1
polyaxon-client==0.6.1
polyaxon-deploy==0.6.1
polyaxon-dockerizer==0.1.0
polyaxon-schemas==0.6.1
pytz==2022.7.1
rhea==0.5.5
six==1.12.0
torch==1.13.1
Unipath==1.1
scikit-learn==1.2.0
scikit_image
pytorch_lightning
scipy==1.9.3
monai==1.1.0
medpy
tensorboard
simpleitk
pympler